.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  gap: 48px;
  padding: 32px;
  color: #fff;

  form {
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    border: 1px solid lightgray;
    height: 18.75rem;
    width: 31.25rem;
    padding: 20px;
    text-align: center;
    button {
      margin-top: 0.625rem;
    }
  }
}
